<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumo de API</title>
    <!-- CDN de bs5-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <!-- CDN de fontawesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- columna en el medio y centrado-->
            <div class="col-4 text-center mt-5 align-items-center">
                <!-- -->
                <form action="" method="post">
                    <input type="text" class="form-control" placeholder="Nombre a buscar">
                    <input type="submit" class="btn btn-success" value="Buscar">  
                </form>
            </div>
        </div>
    </div>
</body>
</html>